
  <div class="title_name">
    <div class="subtitle">
      <span> {{ new_title_txt}}  </span> 
    </div>
    <div class="goback">
      <a (click) = "goBack()"><div class="action2">{{ go_back_txt }}</div></a>
    </div>
    <div style="clear:both"></div>
  </div>
  
        <form nz-form [formGroup]="validateForm" class="ant-advanced-search-form">
          <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]="8" >
              <nz-form-item nzFlex>
                <nz-form-label [nzFor]="'item_name'"> {{ im_item_name_txt }} </nz-form-label>
                <nz-form-control>
                  <input nz-input placeholder="" [formControlName] = "'item_name'" [attr.id]="'item_name'" >
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="8" >
              <nz-form-item nzFlex>
                <nz-form-label [nzFor]="'sku'">{{ im_sku_txt }} </nz-form-label>
                <nz-form-control>
                  <input nz-input placeholder="" [formControlName]="'sku'" [attr.id]="'sku'">
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="8" >
              <nz-form-item nzFlex>
                <nz-form-label [nzFor]="'barcode'">{{ im_input_barcode_txt }} </nz-form-label>
                <nz-form-control>
                  <input nz-input placeholder="" [formControlName]="'barcode'" [attr.id]="'barcode'">
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>

      <div nz-row>
        <div nz-col [nzSpan]="24" style="text-align: right;">
          <button nz-button [nzType]="'primary'">{{ filter_search_txt }}</button>
          <button nz-button (click)="resetForm()">{{ filter_clear_txt }}</button>
        </div>
      </div>
        </form>
<!--
    <div>
      <table border="1" >
        <thead>
          <tr>
            <th>序号</th>
            <th>sku</th>
            <th>商品名称</th>
            <th>在库数</th>
            <th>actions</th>
          </tr>
        </thead>
        <tr *ngFor="let item of items; index as i" >
          <td>{{ i+1 }}</td>
          <td>{{ item.sku }}</td>
          <td>{{ item.item_name }}</td>
          <td>{{ item.num }}</td>
          <td><button (click)="getProductInstockInfo(item.sku)">明细</button></td>
        </tr>
      </table>   
    </div>
    -->
<div class="search-result-list">
        <!-- <button nz-button (click)="new()" class="editable-add-btn">Add</button> -->
      <nz-table #ajaxTable nzShowSizeChanger *ngIf="items.length>0"
        [nzFrontPagination]="false" [nzData]="items" [nzLoading]="loading" [nzSize]="'small'" 
        [nzTotal]="total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" 
        (nzPageIndexChange)="getBaseData(0)" (nzPageSizeChange)="getBaseData(1)">
        <thead>
          <tr>
            <th>{{ filter_No_txt }}</th>
            <th>{{ im_sku_txt }}</th>
            <th>{{ im_item_name_txt }}</th>
            <th>{{ im_num_txt }}</th>
            <th>{{ filter_actions_txt }}</th>
          </tr>
        </thead>
        <tr *ngFor="let item of items; index as i" >
          <td>{{ i+1 }}</td>
          <td>{{ item.sku }}</td>
          <td>{{ item.item_name }}</td>
          <td>{{ item.num }}</td>
          <td><a (click)="getProductInstockInfo(item.sku)" >{{ btn_detail_txt }}</a></td>
        </tr>       
      </nz-table>

</div>
