<div> 
    <div class="subtitle">
      <span> {{ title_txt }}  </span> 
      <button nz-button nzType="default" (click)="new()">
        <span>{{ new_txt }}</span>
      </button>
    </div>
    <div style="clear:both"></div>
</div>
  
  
        <form nz-form [formGroup]="validateForm" class="ant-advanced-search-form">
          <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]="8" >
              <nz-form-item nzFlex>
                <nz-form-label [nzFor]="'outin_batch_cd'">{{ filter_ordercd_txt }}  </nz-form-label>
                <nz-form-control>
                  <input nz-input placeholder="" [formControlName] = "'outin_batch_cd'" [attr.id]="'outin_batch_cd'" >
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="8" >
              <nz-form-item nzFlex>
                <nz-form-label [nzFor]="'oper_name'">{{ filter_operator_txt }} </nz-form-label>
                <nz-form-control>
                  <input nz-input placeholder="" [formControlName]="'oper_name'" [attr.id]="'oper_name'">
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="8" >
              <nz-form-item nzFlex>
                <nz-form-label [nzFor]="'created_dt'">{{ filter_operdate_txt }} </nz-form-label>
                <nz-form-control>
                  <input nz-input placeholder="" [formControlName]="'created_dt'" [attr.id]="'created_dt'">
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>

      <div nz-row>
        <div nz-col [nzSpan]="24" style="text-align: right;">
          <button nz-button [nzType]="'primary'">{{ filter_search_txt }}</button>
          <button nz-button (click)="resetForm()">{{ filter_clear_txt }}</button>
        </div>
      </div>
        </form>

    <div class="search-result-list">
        <!-- <button nz-button (click)="new()" class="editable-add-btn">Add</button> -->
      <nz-table #ajaxTable nzShowSizeChanger
        [nzFrontPagination]="false" [nzData]="checkOrders" [nzLoading]="loading" [nzSize]="'small'" 
        [nzTotal]="total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" 
        (nzPageIndexChange)="getBaseData(0)" (nzPageSizeChange)="getBaseData(1)">
        <thead>
          <tr>
            <!--
            <th>{{ filter_No_txt }}</th>
            <th>{{ filter_ordercd_txt }}</th>
            <th>{{ filter_operdate_txt }}</th>
            <th>{{ filter_operator_txt }}</th>
            <th>{{ filter_actions_txt }}</th>
            -->
            <th>{{ filter_No_txt }}</th>
            <th>{{ filter_ordercd_txt }}</th>
            <th>{{ filter_status_txt }}</th>
            <th>{{ filter_operdate_txt }}</th>
            <th>{{ filter_operator_txt }}</th>
            <th>{{ filter_actions_txt }}</th>
          </tr>
        </thead>
        <!--
          <td>{{ i+1 }}</td>
          <td>{{ order.outin_batch_cd }}</td>
          <td>{{ order.created_dt }}</td>
          <td>{{ order.oper_name }}</td>
          <td><a routerLink = "/dashboard/instockreport/{{ orderType }}/{{ order.outin_batch_cd }}">{{ btn_report_txt }}</a></td>
        -->
        <tr *ngFor="let order of checkOrders; index as i" >
          <td>{{ i+1 }}</td>
          <td>{{ order.check_batch_cd }}</td>
          <td>{{ checkStatusArrays[order.status].value }}</td>
          <td>{{ order.created_dt }}</td>
          <td>{{ order.oper_name }}</td>
          <td>
            <a *ngIf="order.status===2" (click)="doContinueCheck(order.check_batch_cd)">{{ btn_continue_txt }}</a>
            <a *ngIf="order.status===3" (click)="showDetail(order.check_batch_cd)">{{ btn_report_txt }}</a>
            <nz-divider nzType="vertical" *ngIf="order.status===2"></nz-divider>
            <a *ngIf="order.status===1 || order.status===2" (click)="doCheckCancel(order.check_batch_cd, i)">{{ cancel_txt }}</a>
          </td>
        </tr>       
              
      </nz-table>
</div>
